/* === IMPORTS === */

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

/* === Variables === */

:root {
    --ztm-red: #ec5237;
    --ztm-blue: #0781fe;
    --ztm-darkblue: #1f6694;
    --ztm-statusblue: #088db7;
}


/* === GENERAL STYLE === */

body {
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;
    overflow-x: hidden;
}

.navbar {
    font-family: 'Titillium Web', sans-serif;
}

.blue {
    color: var(--ztm-statusblue);
}

footer {
    padding: 2vw;
    border-top: 1px dashed var(--ztm-blue);
    text-align: center;
    background-color: var(--ztm-blue);
    color: #fff;
}


/* === INDEX PAGE === */


/* Page Header */

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../../Mockups/cover-updated.jpg");
    background-position: center center;
    background-size: cover;
}

.cover-title {
    font-size: 8em;
}

header.masthead .DescriptionBG {
    background-color: transparent;
}

.enroll-button {
    color: #ffffff;
    border: 1px solid transparent;
    padding: .375rem auto;
    background-color: var(--ztm-red);
}

.enroll-button:hover {
    color: var(--ztm-red);
    background-color: #ffffff;
    border-color: #ffffff;
}

.enroll-button.focus,
.enroll-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}


/* Intro */

.playicon {
    box-sizing: border-box;
    background: url(../img/vidscreen.png) center center no-repeat;
    background-size: contain;
    padding: 3.2% 10.8% 18.6%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.playicon:hover {
    transform: scale(1.02);
    cursor: pointer;
}

div.desktop-wrapper {
    position: relative;
    padding-top: 20px;
    padding-bottom: 67.5%;
    height: 10px;
}

div.desktop-wrapper iframe {
    box-sizing: border-box;
    background: url(../img/screen.png) center center no-repeat;
    background-size: contain;
    padding: 3.2% 10.7% 18.6%;
    /* 11.9% 15.5% 14.8% */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#vidwrap {
    text-align: center;
}

.red-text {
    color: var(--ztm-red);
}

#about {
    margin-top:  3%;
}

#about p {
    margin: auto 0%;
    margin-bottom: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    padding: 20px;
}


/* Open Source Projects */

#open-source {
    background-color: var(--ztm-blue);
    color: white;
    display: block;
    font-size: 2rem;
}

#open-source div img {
    border-radius: 0;
    text-align: center;
    display: block;
}

#open-source p {
    padding-left: 30px
}

#open-source > div p span {
    font-size: 4rem;
    padding-left: 25px
}

#open-source .btn {
    margin-bottom: 25px;
}


/* Testimonials */

.testimonial {
    text-align: center;
    padding: 1vw;
    background: var(--ztm-darkblue);
    color: whitesmoke;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    font-family: 'Titillium Web', sans-serif;
    justify-content: space-between;
    margin: 0 auto;
    border: 1px solid var(--ztm-darkblue);
    border-radius: 0.25rem;
}

.testimonial:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    transform: scale(1.1)
}

.testimonial-image {
    width: 75%;
    border-radius: 50%;
    border: 2px solid var(--ztm-darkblue);
}

span.headertest {
    font-weight: 900;
    font-size: 2.2vw;
    font-family: 'Open Sans', sans-serif;
}


/* Group Projects */

.group-project-wrapper {
    width: 1005;
    margin-top: 30px;
    border-top: 1px solid var(--ztm-darkblue);
    padding: 2vw;
    justify-content: space-around;
    align-items: center;
}

.group-project {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.project {
    /* display: flex;
    flex-direction: column;
     justify-content: flex-start; */
    margin: 7px;
    padding: 2vw;
    text-align: center;
    padding: 1vw;
    background: var(--ztm-darkblue);
    color: whitesmoke;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    font-family: 'Titillium Web', sans-serif;
    margin: 2vh auto;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

.project:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.project-header {
    font-size: 2vw;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
}

.group-project img {
    border-radius: 5px;
    padding: 2vw;
}

.group-project a {
    color: inherit;
    padding: 1vw;
    margin: auto;
    text-align: center;
    font-weight: bold;
    border: 1px solid rgb(250, 250, 250);
    border-radius: 5px;
}

.group-project:hover a {
    text-decoration: none;
    color: inherit;
    border: 1px solid var(--ztm-darkblue);
}

.project > p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


/* Project Status */


/* Header Parallax Element Style*/

.paral {
    min-height: 300px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: -15px;
}


/* Paragrapgh for Parallax Section */

.paral p {
    font-size: 24px;
    color: #f5f5f5;
    text-align: center;
    line-height: 60px;
}


/* Heading for Parallax Section */

.paral h1 {
    color: var(--ztm-red);
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    padding-top: 20px;
    line-height: 100px;
}


/* Image for Parallax Section */

.paralsec {
    background-image: url("../img/Constructing.jpg");
}

h1.display {
    text-shadow: 2px 2px 4px #000000;
}


/* === STATUS PAGE === */

#statush {
    margin: 60px 0;
}

#statush h1,
h5 {
    font-weight: bolder;
    text-shadow: -2px 2px 6px #908b8b;
}

#statush h1 > a {
    border: 2px solid red;
}

#statush h3 {
    font-weight: bolder;
    text-shadow: -2px 2px 6px #908b8b;
}

#statush hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 5px auto;
    height: 5px;
    width: 35%;
    font-size: 22px;
    text-shadow: -1px 2px 6px #240101;
    background-color: #098cb7;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 2px 6px 0px #908b8b;
}

.contributors {
    margin: 10px;
    margin-left: 20px;
}

.contributors img {
    max-height: 40px;
    max-width: 40px;
    margin-bottom: 5px;
}

.contributors img:hover {
    border: 2px solid var(--ztm-blue);
}

.container p {
    margin: auto 15%;
    margin-bottom: 10px;
    /* background-color: #e9ecef; */
    border-radius: 5px;
    padding: 2%;
}

h5 a.blue:hover {
    text-decoration: none;
    color: inherit;
    text-shadow: -1px 1px 3px #908b8b;
}


/* === MOBILE OPTIMISATIONS */

      @media screen and (max-width: 500px) {
            /* to hide the scroll bars. Doesn't look good in browsers. Style it if you want   for mobile only */
           ::-webkit-scrollbar {
              display: none;
          }
      }



/* === DISCORD PAGE === */
.discordheader {
    padding-top: 25rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("https://forum-files-playcanvas-com.s3-eu-west-1.amazonaws.com/original/2X/9/99f30c2adec921f21e6fa359ef808e331a2a46a2.png");
    background-position: center center;
    background-size: cover;
}
#aboutdiscord {
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23dbdbdb' fill-opacity='0.19' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

.embed-responsive-item {
  display:block;
  margin: auto;
}

.discordCTA {
    position: relative;
    z-index: 1;
    height: 200px;
    background: url(https://www.queensfightingforce.com/wp-content/uploads/2017/08/discordslide.png) center center;
    background-size: cover;
    background-position: center center;
    padding: 60px 0 60px 40vw
}

.discordCTA:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .3;
    background-color: #fff
}
.tabsContainer {
    margin-top: 20px;
    margin-bottom: 30px
}
.nav-tabs {
    background-color: #f4f4f4;
    margin: 20px 0 0 0;
    border-radius: 10px 10px 0 0;
    border-bottom: 3px solid #c6c6c6
}
.nav-tabs li {
    padding:  20px 0px;
}
.nav-tabs li .show {
    color: var(--ztm-blue);
    font-weight: bold;
    border-bottom: 2px solid var(--ztm-blue);
}
.nav-tabs li a {
    padding: 20px 50px;
    color: #5e5e5e;
    font-weight: bold;
}
.nav-tabs li a:hover {
    color: var(--ztm-blue);
    font-weight: bold;
    border-bottom: 2px solid var(--ztm-blue);
}
.tab-content {
    padding: 10px;
    border: 0.5px solid #e5e5e5;
    border-top: none;
    border-radius: 0 0 10px 10px

}
.dislist {
    padding: 10px 0 0 30px
}
.dislist li {
    padding: 0 0 20px 0
}
.dislist span {
    font-weight: bold;
    color: var(--ztm-red)
}
.dislist .alt {
    color: var(--ztm-blue)
}
.discordplayicon{
    box-sizing: border-box;
    background: url(../img/discordhowto.png) center center no-repeat;
    background-size: contain;
    padding: 3.2% 10.8% 18.6%;/* 11.9% 15.5% 14.8% */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.discordplayicon:hover{
    transform: scale(1.02);
    cursor: pointer
}

/* Queries */

@media screen and (max-width: 500px) {
    /* to hide the scroll bars. Doesn't look good in browsers. Style it if you want   for mobile only */
    ::-webkit-scrollbar {
        display: none;
    }
}

/* @cobimr Responsive Update */
@media screen and (max-width: 980px) {
    /* Clean Blue Background on Mobile Device */
    header.masthead {
        background-position: initial
    }
    /* Fixed Responsive Main Banner*/
    .masthead div.p-5 {
        padding: 0 !important;
    }
    /* Fixed Discord Banner on Mobile Devices */
    .discordheader {
        padding-top: 10rem !important;
    }
    /* Better looking on About Discord Section by erasing innecesary padding*/
    #about-discord div.p-5 {
        padding: 0 !important;
    }
    /* Removing Discord Banner Parallax only for Mobile Devices */
     section.paral{
             background-attachment: unset;
             margin: 0px;   
     }

    /* Better Image on mobile devices */
    .testimonial-image {
        width: 50% !important;
    }
    /* Desactivate Hover Animation on Mobile */
    .testimonial {
        transition: none !important;
        margin: 1rem auto !important;
    }
    .testimonial:hover {
        box-shadow: none;
        transform: none
    }
    .project {
         transition: none !important;
    }
    .project:hover {
         box-shadow: none;
    }

    
}