/* This file has been broken down into sections to make things easier to find:

1 - Global Styles
This section should contain all style that will apply or may be used on any page

2 - Pages specific styles
Here you will find styles that relate to the page specified

When adding styles try to ensure the following:

1 - The style does not currently exist
2- You add it to the relevant section, so the next person can find it easily
*/

/* ################### */

/* #  Global Styles  # */

/* ################### */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200');

.navbar {
  border-top: 5px solid #D4AF37;
  height: 80px;
  -webkit-box-shadow: 0px 5px 24px -3px rgba(0, 0, 0, 0.88);
  -moz-box-shadow: 0px 5px 24px -3px rgba(0, 0, 0, 0.88);
  box-shadow: 0px 5px 24px -3px rgba(0, 0, 0, 0.88);
}

/* ################### */

/* #  Index Page Styles  # */

/* ################### */

/* Language banner on index page */

.langs {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f4f4f4' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

/* Video section styles*/

.playicon {
  box-sizing: border-box;
  background: url(../images/vidscreen.png) center center no-repeat;
  background-size: contain;
  padding: 3.2% 10.8% 18.6%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.playicon:hover {
  transform: scale(1.02);
  cursor: pointer;
}

div.desktop-wrapper {
  position: relative;
  padding-top: 20px;
  padding-bottom: 67.5%;
  height: 10px;
}

div.desktop-wrapper iframe {
  box-sizing: border-box;
  background: url(../images/screen.png) center center no-repeat;
  background-size: contain;
  padding: 3.2% 10.7% 18.6%;
  /* 11.9% 15.5% 14.8% */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#vidwrap {
  text-align: center;
}

.videoTitles h3 {
  color: #000;
}

.videoTitles h2 {
  color: #D4AF37;
}

#about p {
  margin: auto 0%;
  margin-bottom: 10px;
  background-color: #e9ecef;
  border-radius: 5px;
  padding: 20px;
}

.coursecard h5 {
  color: #D4AF37;
  text-align: center
}

.coursecard p {
  color: rgba(100, 100, 100, 0.938);
  text-align: justify
}

/* ################### */

/* #   Course Pages  # */

/* ################### */

#ztmCourse {
  background: url(../images/course-images/zerotomastery.jpg);
  background-size: cover;
}

#jtsCourse {
  background: url(../images/course-images/j2s.jpg);
  background-size: cover;
}

#mciCourse {
  background: url(../images/course-images/mastering-interviews.jpg);
  background-size: cover;
}

.courseHeader {
  height: 100vh;
}

/* ################### */

/* #  Projects Pages # */

/* ################### */

.projectsHeader {
  height: 70vh;
}

#collab {
  background: url(../images/slide-images/slide2.jpg);
  background-size: cover;
  background-position: center;
}

#codingChallenge {
  background: url(../images/codingchallenge.jpg);
  background-size: cover;
}

#potm {
  background: url(../images/potm.jpg);
  background-size: cover;
  background-position: center;
}

h1.proj{
  color: black;
}

#projects h5 {
  color: black;
  font: 400 1em;
}

.projectIcon {
  max-width: 100%;
  height: 10em;
  margin: auto;
  display: block;
}

#searchBox {
  width: 50%;
}


/* ################### */

/* #   Events Pages  # */

/* ################### */

.eventsHeader {
  height: 100vh;
}

#advent {
  margin-top: 80px
}
.adventStats i {
  color: rgba(153, 153, 153, 0.123);
  font-size: 4em
}
.adventStats h2 {
  color: #D4AF37;
  font-size: 3em;
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 0px
}
.adventStats p {
  font-size: medium;
}

.adventCard {
  border-radius: 10px
}
.adventCard h5 {
  color: rgb(255, 255, 255);
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.6em;
  margin-bottom: 0px;
}

.button-area {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 80vw;
}

.button-area a {
  background: rgba(241, 240, 240, 0.795);
  border: 2px #D4AF37 solid;
  border-radius: 10px;
  padding: 1em 1.4em;
  margin: 0.45em;
  flex-grow: 1;
}

.button-area img {
  width: 45px
}

#pastEvents {
  background: url(../images/past-events.jpg);
  background-size: cover;
  background-position: center;
}

.langIcon {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 1px;
  right: 10px
}

.dayIcon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px
}
/* ################### */

/* # Community Pages # */

/* ################### */

.communityHeader {
  height: 100vh;
}

#discord {
  background: url(../images/discord.jpg);
  background-size: cover;
  background-position: center;
}

#resources {
  background: url(../images/slide-images/slide3.jpg);
  background-size: cover;
  background-position: center;
}

#questionBoard {
  background: url(../images/slide-images/slide4.jpg);
  background-size: cover;
  background-position: center;
}

#jobBoard {
  background: url(../images/job-board.jpg);
  background-size: cover;
  background-position: center;
}