/* This file has been broken down into sections to make things easier to find:

1 - Global Styles
This section should contain all style that will apply or may be used on any page

2 - Pages specific styles
Here you will find styles that relate to the page specified

When adding styles try to ensure the following:

1 - The style does not currently exist
2- You add it to the relevant section, so the next person can find it easily
*/

/* ################### */

/* #  Global Styles  # */

/* ################### */

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200|Kaushan+Script');
.navbar {
  border-top: 5px solid #D4AF37;
  height: 80px;
  -webkit-box-shadow: 0px 5px 24px -3px rgba(0, 0, 0, 0.88);
  -moz-box-shadow: 0px 5px 24px -3px rgba(0, 0, 0, 0.88);
  box-shadow: 0px 5px 24px -3px rgba(0, 0, 0, 0.88);
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #e6e6e6!important
}

/* ################### */

/* #  Index Page Styles  # */

/* ################### */

/* Language banner on index page */

.langs {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f4f4f4' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

.ham-content {
  background-color: #f8f9fa;
  border-radius: 0px 0px 10px 10px;
}

/* Video section styles*/

.playicon {
  box-sizing: border-box;
  background: url(../images/vidscreen.png) center center no-repeat;
  background-size: contain;
  padding: 3.2% 10.8% 18.6%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.playicon:hover {
  transform: scale(1.02);
  cursor: pointer;
}

div.desktop-wrapper {
  position: relative;
  padding-top: 20px;
  padding-bottom: 67.5%;
  height: 10px;
}

div.desktop-wrapper iframe {
  box-sizing: border-box;
  background: url(../images/screen.png) center center no-repeat;
  background-size: contain;
  padding: 3.2% 10.7% 18.6%;
  /* 11.9% 15.5% 14.8% */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#vidwrap {
  text-align: center;
}

.videoTitles h3 {
  color: #000;
}

.videoTitles h2 {
  color: #D4AF37;
}

#about p {
  margin: auto 0%;
  margin-bottom: 10px;
  background-color: #e9ecef;
  border-radius: 5px;
  padding: 20px;
}

.coursecard h5 {
  color: #D4AF37;
  text-align: center
}

.coursecard p {
  color: rgba(100, 100, 100, 0.938);
  text-align: justify
}

/* ################### */

/* #   Course Pages  # */

/* ################### */

#ztmCourse {
  background: url(../images/course-images/zerotomastery.jpg);
  background-size: cover;
}

#jtsCourse {
  background: url(../images/course-images/j2s.jpg);
  background-size: cover;
}

#mciCourse {
  background: url(../images/course-images/mastering-interviews.jpg);
  background-size: cover;
}

.courseHeader {
  height: 100vh;
}

/* ################### */

/* #  Projects Pages # */

/* ################### */

.projectsHeader {
  height: 70vh;
}

#collab {
  background: url(../images/slide-images/slide2.jpg);
  background-size: cover;
  background-position: center;
}

#codingChallenge {
  background: url(../images/codingchallenge.jpg);
  background-size: cover;
}

#potm {
  background: url(../images/potm.jpg);
  background-size: cover;
  background-position: center;
}

h1.proj{
  color: black;
}

#projects h5 {
  color: black;
  font-weight: 400;
  font-size: 1.4em;
}

.projectIcon {
  max-width: 100%;
  height: 10em;
  margin: auto;
  display: block;
}

#searchBox {
  width: 50%;
}


/* ################### */

/* #   Events Pages  # */

/* ################### */

#adventHeader {
  height: 100vh;
  padding-top: 80px;
  background: url("../images/advent/advent.png");
  background-size: cover;
  background-position: center;
  padding: 15em 0;
}

#adventHeader h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 5em;
  color: #ffffff
}

#adventHeader .year {
  font-family: 'Titillium Web', sans-serif;
  color: #D4AF37;
  border: 2px #e9ecef solid;
  border-left: 0px;
  border-right: 0px;
  width: 150px;
  margin: 15px auto;
  padding: 1px
}

.sizer {
  width: 40px;
  height: 40px;
}

.adventStats {
  background-image: linear-gradient(to bottom, #0f0f23 0%, rgb(36, 36, 36) 100%);
  padding: 30px 0 20px 0;
  border-top: 1px #2e2e2e solid
}

.adventContent {
  background-color: #e6e6e6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23b0b0b0' fill-opacity='0.17' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

.adventFilter {
  background-image: linear-gradient(to bottom, #6b6b6b 0%, rgb(36, 36, 36) 100%);
  border-radius: 5px;
  padding: 18px 0;
}

.adventStats i {
  color: rgba(153, 153, 153, 0.123);
  font-size: 4em
}

.adventStats h2 {
  color: #D4AF37;
  font-size: 3em;
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 0px
}

.adventStats p {
  font-size: medium;
}

.adventTitle {
  color: #0f0f23;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bolder;
}

#solutions {
  min-height: 50px;
}

.adventCard {
  border-radius: 10px
}

.adventCard > .card-img-top {
  border-radius: 10px 10px 0 0;
  background: url(../images/advent/ztmbg.png);
  background-size: cover;
  background-position: center;
}

.adventCard h5 {
  color: rgb(255, 255, 255);
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.6em;
  margin-bottom: 0px;
}

.button-area {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 80vw;
}

.button-area a {
  background: rgba(241, 240, 240, 0.795);
  border: 2px #D4AF37 solid;
  border-radius: 10px;
  padding: 1em 1.4em;
  margin: 0.45em;
  flex-grow: 1;
}

.button-area img {
  width: 45px;
}

#pastEvents {
  background: url(../images/past-events.jpg);
  background-size: cover;
  background-position: center;
}

.langIcon {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 1px;
  right: 10px
}

.dayIcon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.leaderPlace {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(68, 68, 68);
  padding: 5px;
  margin: 0 25px
}
.leaderName{
  font-size: 1.2em;
  font-weight: bolder;
}
.leaderPoints{
  position: relative;
  right: 10px
}
.leaderHr{
  border-color: #4d4d4d
}

.goldMedal {
  background-color: #D4AF37
}
.silverMedal {
  background-color: silver
}
.bronzeMedal {
  background-color: rgb(100, 55, 3)
}
/* ################### */

/* # Community Pages # */

/* ################### */

.communityHeader {
  height: 100vh;
}

#discord {
  background: url(../images/discord.jpg);
  background-size: cover;
  background-position: center;
}

#resources {
  background: url(../images/slide-images/slide3.jpg);
  background-size: cover;
  background-position: center;
}

#questionBoard {
  background: url(../images/slide-images/slide4.jpg);
  background-size: cover;
  background-position: center;
}

#jobBoard {
  background: url(../images/job-board.jpg);
  background-size: cover;
  background-position: center;
}