@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
body {
    margin: 0px;
    font-family: ubuntu;
    overflow-x: hidden;
}

header {
    margin: auto;
    padding: 2vw;
    color:#24292e;
}
.dark{
    color:#24292e;
}
.blue{
    color:rgb(8, 141, 183);
}
.discount{
	font-weight: 900;
}

#main-container {
    width: 90%;
    margin: auto;
}

#main-container h1 {
    text-align: center;
    font-size: 4vw;
    letter-spacing: 1vw;
    font-family: 'Patua One', cursive;
}

#introduction {
    display: flex;
    align-items: stretch;
}

#introduction-media {
    width: 45%;
    padding: 2vw;
    margin: 0px;
}

#introduction-media iframe {
    width: 100%;
    height: 110%;
}

#introduction-content {
    width: 50%;
    font-family: 'Titillium Web', sans-serif;
}

.cta {
    background: rgb(8, 141, 183);
    width: 40%;
    letter-spacing: 1vw;
    text-align: center;
    padding: 2vw;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    transition: .5s all linear;
}

.cta a {
    text-decoration: none;
    color: inherit;
}

.cta:hover {
    transform: scaleX(1.1)
}

.container {
    
    border-top: 1px dashed rgb(8, 141, 183);
    margin-top: 2vw;
    padding: 2vw 0 2vw 0;
    overflow-x: scroll;
}

.testimonial_1,
.testimonial_2,
.testimonial_3 {
    text-align: center;
    padding: 1vw;
    background: rgb(8, 141, 183);
    color: whitesmoke;
    transition: .5s all linear;
    font-family: 'Titillium Web', sans-serif;
    justify-content: space-between;
    margin:0 auto;

}
.testimonial_1:hover,
.testimonial_2:hover,
.testimonial_3:hover{
    color: #24292e;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgb(8, 141, 183);
}
/*.testimonial_2 {
    margin-left: 2vw;
    margin-right: 2vw;
}*/



/*.testimonial:not(:first-child) {
	/*margin-left: 10px;
}*/

.row img {
    width: 200px;
    border-radius: 50%;
}

.testimonial .header {
    font-weight: 900;
    font-size: 1.8vw;
    font-family: 'Open Sans', sans-serif;
}

.testimonial:hover {
    background: rgb(240, 234, 234);
    color: #24292e;
    box-shadow: 0 0 40px 0 rgb(8, 141, 183);
}

footer{
    margin-top: 2vw;
    padding-top: 2vw;
    border-top: 1px dashed rgb(8, 141, 183);
    text-align: center;
}


/* for mobile screen   */

@media screen and (max-width: 500px) {
    body {
        font-size: 5vw;
        margin: auto;
    }
    #main-container h1 {
        font-size: 8vw;
    }
    #introduction {
        flex-direction: column;
    }
    #introduction-media {
        width: 95%;
    }
    #introduction-content {
        width: 100%;
    }
    .cta {
        width: 60%;
    }
    #testimonial-wrapper {
        justify-content: flex-start;
        overflow-x:
    min-width: 220px; auto;
        margin-top: 5vw;
        padding: 5vw 0 5vw 2vw;
    }
    .testimonial {
        min-width: 80%;
    }
    .testimonial .header {
        font-size: 6vw;
    }
    /* to hide the scroll bars. Doesn't look good in browsers. Style it if you want   for mobile only */
     ::-webkit-scrollbar {
        display: none;
    }
}


/* styling scrollbars  */

 ::-webkit-scrollbar {
    color: rgba(8, 141, 183, 1);
}


#container {
    margin-top: 20px;
    padding: 2vw;
}
