      /*colors red - #ec5237 blue - #0781fe dark blue - #1f6694*/

      @import url('https://fonts.googleapis.com/css?family=Titillium+Web');
      @import url('https://fonts.googleapis.com/css?family=Patua+One');
      @import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
      body {
          margin: 0px;
          font-family: 'Titillium Web', sans-serif;
          overflow-x: hidden;
      }

      header {
          font-family: 'Titillium Web', sans-serif;
          margin: auto;
          padding: 2vw;
          color: #24292e;
      }

      header.masthead {
          padding-top: 10rem;
          padding-bottom: calc(10rem - 56px);
          background-image: url("../../Mockups/cover.jpg ");
          background-position: center center;
          background-size: cover;
      }

      .cover-title {
          font-size: 8em;
      }

      .cta a:link,
      .cta a:visited,
      .cta a:hover,
      .cta a:active {
          text-align: center;
          text-decoration: none;
          color: #ffffff
      }

      .navbar {
          font-family: 'Titillium Web', sans-serif;
      }

      .dark {
          color: #24292e;
      }

      .blue {
          color: rgb(8, 141, 183);
      }

      .discount {
          font-weight: 900;
      }
      .playicon{
        height:19.688rem;
        width:35rem;
        background-color: black;
        background: url('../img/playicon-s.png') , url('../../Mockups/1430746_2f43_2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;        
        overflow:hidden;
        cursor:pointer;
        transition: all .5s;
        transition-timing-function: ease-out;
      }
      .playicon:hover{
        transform: scale(1.02);
      }
      #vidwrap {
          text-align: center;
      }
      #main-container {
          width: 90%;
          margin: auto;
      }

      #main-container h1 {
          text-align: center;
          font-size: 4vw;
          letter-spacing: 1vw;
          font-family: 'Patua One', cursive;
      }

      #introduction {
          display: flex;
          align-items: stretch;
      }

      #introduction-media {
          width: 45%;
          padding: 2vw;
          margin: 0px;
      }

      #introduction-media iframe {
          width: 100%;
          height: 110%;
      }

      #introduction-content {
          width: 50%;
          font-family: 'Titillium Web', sans-serif;
      }

      .cta {
          background: rgb(8, 141, 183);
          width: 40%;
          letter-spacing: 1vw;
          text-align: center;
          padding: 2vw;
          border-radius: 5px;
          color: white;
          font-weight: 900;
          transition: .5s all linear;
      }

      .cta a {
          text-decoration: none;
          color: inherit;
      }

      .cta:hover {
          transform: scaleX(1.1)
      }

      .container {
          margin-top: 2vw;
          padding: 2vw 0 2vw 0;
          overflow-x: scroll;
      }

      .testimonial_1,
      .testimonial_2,
      .testimonial_3 {
          text-align: center;
          padding: 1vw;
          background: #1f6694;
          color: whitesmoke;
          transition: .5s all linear;
          font-family: 'Titillium Web', sans-serif;
          justify-content: space-between;
          margin: 0 auto;
      }

      .testimonial_1:hover,
      .testimonial_2:hover,
      .testimonial_3:hover {
          color: #24292e;
          background: rgb(255, 255, 255);
          box-shadow: 0px 0px 20px 0px #1f6694;
      }

      .row img {
          width: 75%;
          border-radius: 50%;
      }

      .testimonial .header {
          font-weight: 900;
          font-size: 1.8vw;
          font-family: 'Open Sans', sans-serif;
      }

      .testimonial:hover {
          background: rgb(240, 234, 234);
          color: #24292e;
          box-shadow: 0 0 40px 0 rgb(8, 141, 183);
      }

      .group-project-wrapper {
          width: 1005;
          margin-top: 30px;
          border-top: 1px solid #1f6694;
          padding: 2vw;
          justify-content: space-around;
          align-items: center;
      }

      .group-project {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          text-align: center;
      }

      .project {
          width: 32%;
          margin: 7px;
          padding: 2vw;
          color: white;
          background-color: #1f6694;
          border-radius: 5px;
          font-family: 'Titillium Web', sans-serif;
          transition: 1s all ease;
          position: relative;
      }

      .project:hover {
          color: black;
          background: white;
          box-shadow: 0px 0px 20px 0px #1f6694;
      }

      .project-header {
          padding: 2vw;
          font-size: 2vw;
          font-weight: 900;
          font-family: 'Open Sans', sans-serif;
      }

      .group-project img {
          border-radius: 5px;
          padding: 2vw;
      }

      .group-project a {
          color: inherit;
          padding: 1vw;
          margin: auto;
          text-align: center;
          font-weight: bold;
          border: 1px solid rgb(250, 250, 250);
          border-radius: 5px;
      }

      .group-project:hover a {
          text-decoration: none;
          color: inherit;
          border: 1px solid #1f6694;
      }

      footer {
          margin-top: 2vw;
          padding-top: 2vw;
          border-top: 1px dashed rgb(8, 141, 183);
          text-align: center;
      }
.project > p {
    display: block;
    position: absolute;
    bottom: 0;
    width: 87%;
}

.btncontr{
    display: block;
    position: absolute;
    bottom: 0;
    width: 87%;
}

.absolute{
    position: absolute;
}

/*Opens Source*/
#open-source {
    background-color: #0781FE;
    color: white;
/*    display: block;*/
    font-size: 2rem;
    
}

#open-source  div img{
  
    border-radius: 0;
    text-align: center;
    display: block;    
}
#open-source > div p {
    font-size: 2rem;
    
   
}
#open-source > div p span{
    font-size: 4rem;
   
}
#btn-opens{
    margin: auto 0;
    background-color: #EC5238;
    border: 0;
    color: white;
}



      /* for mobile screen   */

      @media screen and (max-width: 500px) {
          body {
              font-size: 5vw;
              margin: auto;
          }
          #main-container h1 {
              font-size: 8vw;
          }
          #introduction {
              flex-direction: column;
          }
          #introduction-media {
              width: 95%;
          }
          #introduction-content {
              width: 100%;
              text-align: center;
          }
          .cta {
              width: 60%;
              margin: auto;
          }
          .testimonial_1,
          .testimonial_2,
          .testimonial_3 {
              margin-top: 30px;
              padding: 30px;
          }
          .testimonial_3 {
              margin-bottom: 30px;
          }
          .testimonial .header {
              font-size: 6vw;
          }
          /* to hide the scroll bars. Doesn't look good in browsers. Style it if you want   for mobile only */
           ::-webkit-scrollbar {
              display: none;
          }
          .group-project {
              flex-direction: column;
              align-items: center;
          }
          .project {
              width: 100%;
              margin: 10px 0;
          }
          .project-header {
              font-size: 7vw;
          }
      }
      /* styling scrollbars  */

       ::-webkit-scrollbar {
          color: rgba(8, 141, 183, 1);
      }

      #container {
          margin-top: 20px;
          padding: 2vw;
      }

      #signup-button {
          color: #ffffff;
          border-color: #ffffff;
      }

      .btn-outline-success {
          color: #ffffff;
          background-color: transparent;
          background-image: none;
          border-color: #ffffff;
      }

      .btn-outline-success:hover {
          color: #ec5237;
          background-color: #ffffff;
          border-color: #ffffff;
      }

      .btn-outline-success:not([disabled]):not(.disabled).active,
      .btn-outline-success:not([disabled]):not(.disabled):active,
      .show>.btn-outline-success.dropdown-toggle {
          color: #ec5237;
          background-color: #ffffff;
          border-color: #ffffff;
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
      }

      .btn-outline-success.focus,
      .btn-outline-success:focus {
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
      }

/*
      #enroll-button {
          color: #ffffff;
          border: 1px solid transparent;
          padding: .375rem 6em;
          background-color: #ec5237;
      }

      #enroll-button:hover {
          color: #ec5237;
          background-color: #ffffff;
          border-color: #ffffff;
      }

      #enroll-button:not([disabled]):not(.disabled):active,
      .show>#enroll-button.dropdown-toggle {
          color: #ec5237;
          background-color: #ffffff;
          border-color: #ffffff;
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
      }

      #enroll-button.focus,
      #enroll-button:focus {
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
      }
*/

      .enroll-button {
          color: #ffffff;
          border: 1px solid transparent;
          padding: .375rem 6em;
          background-color: #ec5237;
      }

      .enroll-button:hover {
          color: #ec5237;
          background-color: #ffffff;
          border-color: #ffffff;
      }

      .enroll-button:not([disabled]):not(.disabled).active,
      .#enroll-button:not([disabled]):not(.disabled):active,
      .show>#enroll-button.dropdown-toggle {
          color: #ec5237;
          background-color: #ffffff;
          border-color: #ffffff;
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
      }

      .enroll-button.focus,
      .enroll-button:focus {
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
      }



      .red-text {
          color: #ec5237;
      }
